// VARIABLES

//  Color Variables 
$color-primary: #4aab3d;
$color-secondary: #1b1a1a;
$color-body: #9b9b9b;
$color-white: #ffffff;
$color-black: #000000;
$color-heading: #282828;
$color-gray: #f9f9f9;

//  Font Variables 
$font-heading: 'Rubik',
sans-serif;

$font-body: 'Roboto',
sans-serif;

$body-font-size: 15px;